
StockPriceAlerts.xcodeproj/project.xcworkspace/xcuserdata/smcwhorter.xcuserdatad/UserInterfaceState.xcuserstate

StockPriceAlerts.xcodeproj/xcuserdata/smcwhorter.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
